[Desktop Entry]
Version=1.0
Type=Application
Name=Google AI Studio
Comment=Open Google AI Studio in App Mode
Exec=/home/julian/.local/bin/google-apps-wrapper aistudio
Icon=/home/julian/.icons/extra/Google_AI_Studio_icon_(May_2026).svg
Terminal=false
Categories=Development;
StartupNotify=true
StartupWMClass=chrome-aistudio.google.com__-Default
