[Desktop Entry]
Version=1.0
Type=Application
Name=Google Translate
Comment=Open Google Translate in App Mode
Exec=/home/julian/.local/bin/google-apps-wrapper translate
Icon=/home/julian/.icons/extra/google-translate.svg
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=chrome-translate.google.com__-Default
