[Desktop Entry]
Version=1.0
Type=Application
Name=Google Calendar
Comment=Open Google Calendar in App Mode
Exec=/home/julian/.local/bin/google-apps-wrapper calendar
Icon=/home/julian/.icons/extra/google-calendar.svg
Terminal=false
Categories=Office;Calendar;
StartupNotify=true
StartupWMClass=chrome-calendar.google.com__-Default
