[Desktop Entry]
Version=1.0
Type=Application
Name=Gemini
Comment=Open Google Gemini AI in App Mode
Exec=/home/julian/.local/bin/google-apps-wrapper gemini
Icon=/home/julian/.icons/extra/Google-gemini-icon.svg
Terminal=false
Categories=Utility;Development;
StartupNotify=true
StartupWMClass=chrome-gemini.google.com__-Default
