[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Comment=Open YouTube in App Mode
Exec=/home/julian/.local/bin/google-apps-wrapper youtube
Icon=/home/julian/.icons/extra/google-youtube.svg
Terminal=false
Categories=AudioVideo;Video;Player;
StartupNotify=true
StartupWMClass=chrome-www.youtube.com__-Default
