[Desktop Entry]
Version=1.0
Type=Application
Name=Hojas de Calculo (Excel, Sheets, Office)
Comment=Create and edit spreadsheets online (excel, sheet, sheets, office)
Exec=/home/julian/.local/bin/office-web-wrapper --type spreadsheet %f
Keywords=excel;sheet;sheets;google;office;
Icon=/home/julian/.icons/extra/google-sheets.svg
Terminal=false
Categories=Office;
MimeType=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel;
StartupNotify=true
StartupWMClass=chrome-docs.google.com__spreadsheets_-Default
