[Desktop Entry]
Version=1.0
Type=Application
Name=Google Photos
Comment=Open Google Photos in App Mode
Exec=/home/julian/.local/bin/google-apps-wrapper photos
Icon=/home/julian/.icons/extra/google-photos.svg
Terminal=false
Categories=Graphics;Photography;Viewer;
StartupNotify=true
StartupWMClass=chrome-photos.google.com__-Default
