[Desktop Entry]
Version=1.0
Type=Application
Name=Gmail
Comment=Open Google Gmail in App Mode
Exec=/home/julian/.local/bin/google-apps-wrapper gmail
Icon=/home/julian/.icons/extra/google-gmail.svg
Terminal=false
Categories=Office;Network;Email;
StartupNotify=true
StartupWMClass=chrome-mail.google.com__-Default
