[Desktop Entry]
Version=1.0
Type=Application
Name=Google Drive
Comment=Access your cloud files
Exec=/home/julian/.local/bin/office-web-wrapper --type drive
Icon=/home/julian/.icons/extra/google-drive.svg
Terminal=false
Categories=Office;
StartupNotify=true
StartupWMClass=chrome-drive.google.com__-Default
