[Desktop Entry]
Version=1.0
Type=Application
Name=Google Maps
Comment=Open Google Maps in App Mode
Exec=/home/julian/.local/bin/google-apps-wrapper maps
Icon=/home/julian/.icons/extra/google-maps.svg
Terminal=false
Categories=Utility;Map;
StartupNotify=true
StartupWMClass=chrome-www.google.com__maps_-Default
