[Desktop Entry]
Version=1.0
Type=Application
Name=Google Slides
Comment=Create and edit presentations online
Exec=/home/julian/.local/bin/office-web-wrapper --type presentation %f
Icon=google-slides
Terminal=false
Categories=Office;
MimeType=application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint;
StartupNotify=true
